<div class='mesajcerceve'><table class='mesaj'><tr><td><h1><span style="color:yellow;">&lt;&frasl;&gt;</span></h1></td><td><b>kaanksc</b><p>AEK Sohbet'e Hoşgeldiniz!</td></tr></table></div>
<div class='mesajcerceve'><table class='mesaj'><tr><td><h1>P</h1></td><td><b>panda</b><p>AEK Sohbet'in ilk deneme mesajları</td></tr></table></div>
<div class='mesajcerceve'><table class='mesaj'><tr><td><h1><span style="color:yellow;">&lt;&frasl;&gt;</span></h1></td><td><b>kaanksc</b><p>Lorem Ipsum Nedir? Lorem Ipsum, dizgi ve baskı endüstrisinde kullanılan mıgır metinlerdir. Lorem Ipsum, adı bilinmeyen bir matbaacının bir hurufat numune kitabı oluşturmak üzere bir yazı galerisini alarak karıştırdığı 1500'lerden beri endüstri standardı sahte metinler olarak kullanılmıştır. Beşyüz yıl boyunca varlığını sürdürmekle kalmamış, aynı zamanda pek değişmeden elektronik dizgiye de sıçramıştır. 1960'larda Lorem Ipsum pasajları da içeren Letraset yapraklarının yayınlanması ile ve yakın zamanda Aldus PageMaker gibi Lorem Ipsum sürümleri içeren masaüstü yayıncılık yazılımları ile popüler olmuştur.</td></tr></table></div>
<div class='mesajcerceve'><table class='mesaj'><tr><td><h1><span style="color:yellow;">&lt;&frasl;&gt;</span></h1></td><td><b>kaanksc</b><p>Deneme 123</td></tr></table></div>
<div class='mesajcerceve'><table class='mesaj'><tr><td><h1><span style="color:yellow;">&lt;&frasl;&gt;</span></h1></td><td><b>kaanksc</b><p>&lt;a href=&quot;http://kaanksc.com&quot;&gt;kaanksc.com&lt;/a&gt;</td></tr></table></div>
<div class='mesajcerceve'><table class='mesaj'><tr><td><h1><span style="color:yellow;">&lt;&frasl;&gt;</span></h1></td><td><b>kaanksc</b><p>ilk mesaj</td></tr></table></div>
<div class='mesajcerceve'><table class='mesaj'><tr><td><h1><span style="color:yellow;">&lt;&frasl;&gt;</span></h1></td><td><b>kaanksc</b><p></td></tr></table></div>
<div class='mesajcerceve'><table class='mesaj'><tr><td><h1><span style="color:yellow;">&lt;&frasl;&gt;</span></h1></td><td><b>kaanksc</b><p></td></tr></table></div>
<div class='mesajcerceve'><table class='mesaj'><tr><td><h1><span style="color:yellow;">&lt;&frasl;&gt;</span></h1></td><td><b>kaanksc</b><p></td></tr></table></div>
<div class='mesajcerceve'><table class='mesaj'><tr><td><h1><span style="color:yellow;">&lt;&frasl;&gt;</span></h1></td><td><b>kaanksc</b><p></td></tr></table></div>
<div class='mesajcerceve'><table class='mesaj'><tr><td><h1><span style="color:yellow;">&lt;&frasl;&gt;</span></h1></td><td><b>kaanksc</b><p>asdasd</td></tr></table></div>
<div class='mesajcerceve'><table class='mesaj'><tr><td><h1><span style="color:yellow;">&lt;&frasl;&gt;</span></h1></td><td><b>kaanksc</b><p><img style='width:70px;height:70px;' src='ok.png'/></td></tr></table></div>
<div class='mesajcerceve'><table class='mesaj'><tr><td><h1><span style="color:yellow;">&lt;&frasl;&gt;</span></h1></td><td><b>kaanksc</b><p><img style='width:70px;height:70px;' src='ok.png'/></td></tr></table></div>
<div class='mesajcerceve'><table class='mesaj'><tr><td><h1><span style="color:yellow;">&lt;&frasl;&gt;</span></h1></td><td><b>kaanksc</b><p><img style='width:70px;height:70px;' src='ok.png'/></td></tr></table></div>
<div class='mesajcerceve'><table class='mesaj'><tr><td><h1><span style="color:yellow;">&lt;&frasl;&gt;</span></h1></td><td><b>kaanksc</b><p><img style='width:70px;height:70px;' src='ok.png'/></td></tr></table></div>
<div class='mesajcerceve'><table class='mesaj'><tr><td><h1><span style="color:yellow;">&lt;&frasl;&gt;</span></h1></td><td><b>kaanksc</b><p>asdasdasdads</td></tr></table></div>
<div class='mesajcerceve'><table class='mesaj'><tr><td><h1><span style="color:yellow;">&lt;&frasl;&gt;</span></h1></td><td><b>kaanksc</b><p><img style='width:70px;height:70px;' src='ok.png'/></td></tr></table></div>
<div class='mesajcerceve'><table class='mesaj'><tr><td><h1><span style="color:yellow;">&lt;&frasl;&gt;</span></h1></td><td><b>kaanksc</b><p><img style='width:70px;height:70px;' src='ok.png'/></td></tr></table></div>
<div class='mesajcerceve'><table class='mesaj'><tr><td><h1><span style="color:yellow;">&lt;&frasl;&gt;</span></h1></td><td><b>kaanksc</b><p>asd</td></tr></table></div>
<div class='mesajcerceve'><table class='mesaj'><tr><td><h1>P</h1></td><td><b>panda</b><p><img style='width:70px;height:70px;' src='ok.png'/></td></tr></table></div>
<div class='mesajcerceve'><table class='mesaj'><tr><td><h1>P</h1></td><td><b>panda</b><p>:)</td></tr></table></div>
<div class='mesajcerceve'><table class='mesaj'><tr><td><h1>P</h1></td><td><b>panda</b><p>sdad</td></tr></table></div>
<div class='mesajcerceve'><table class='mesaj'><tr><td><h1>P</h1></td><td><b>panda</b><p><img style='width:70px;height:70px;' src='ok.png'/></td></tr></table></div>
<div class='mesajcerceve'><table class='mesaj'><tr><td><h1>P</h1></td><td><b>panda</b><p>Güldüm</td></tr></table></div>
<div class='mesajcerceve'><table class='mesaj'><tr><td><h1>P</h1></td><td><b>panda</b><p><img style='width:70px;height:70px;' src='emoji/ok.png'/></td></tr></table></div>
<div class='mesajcerceve'><table class='mesaj'><tr><td><h1>P</h1></td><td><b>panda</b><p><img style='width:70px;height:70px;' src='emoji/happy.png'/></td></tr></table></div>
<div class='mesajcerceve'><table class='mesaj'><tr><td><h1>P</h1></td><td><b>panda</b><p><img style='width:70px;height:70px;' src='emoji/panda.png'/></td></tr></table></div>
<div class='mesajcerceve'><table class='mesaj'><tr><td><h1>P</h1></td><td><b>panda</b><p><img style='width:70px;height:70px;' src='emoji/kalp.png'/></td></tr></table></div>
<div class='mesajcerceve'><table class='mesaj'><tr><td><h1>P</h1></td><td><b>panda</b><p><img style='width:70px;height:70px;' src='emoji/bayrak.png'/></td></tr></table></div>
<div class='mesajcerceve'><table class='mesaj'><tr><td><h1>P</h1></td><td><b>panda</b><p><img style='width:70px;' src='emoji/jason.png'/></td></tr></table></div>
<div class='mesajcerceve'><table class='mesaj'><tr><td><h1>P</h1></td><td><b>panda</b><p><img style='height:85px;' src='emoji/sg.png'/></td></tr></table></div>
<div class='mesajcerceve'><table class='mesaj'><tr><td><h1>P</h1></td><td><b>panda</b><p>Selamın aleyküm</td></tr></table></div>
<div class='mesajcerceve'><table class='mesaj'><tr><td><h1>P</h1></td><td><b>panda</b><p><img style='width:100px;' src='emoji/jason.png'/></td></tr></table></div>
<div class='mesajcerceve'><table class='mesaj'><tr><td><h1>P</h1></td><td><b>panda</b><p>Array</td></tr></table></div>
<div class='mesajcerceve'><table class='mesaj'><tr><td><h1>P</h1></td><td><b>panda</b><p>Array</td></tr></table></div>
<div class='mesajcerceve'><table class='mesaj'><tr><td><h1>P</h1></td><td><b>panda</b><p>Array</td></tr></table></div>
<div class='mesajcerceve'><table class='mesaj'><tr><td><h1>P</h1></td><td><b>panda</b><p>deneme</td></tr></table></div>
<div class='mesajcerceve'><table class='mesaj'><tr><td><h1><span style="color:yellow;">&lt;&frasl;&gt;</span></h1></td><td><b>kaanksc</b><p><img style='height:85px;' src='emoji/sg.png'/></td></tr></table></div>
<div class='mesajcerceve'><table class='mesaj'><tr><td><h1><span style="color:yellow;">&lt;&frasl;&gt;</span></h1></td><td><b>kaanksc</b><p><img style='width:70px;height:70px;' src='emoji/bayrak.png'/></td></tr></table></div>
<div class='mesajcerceve'><table class='mesaj'><tr><td><h1><span style="color:yellow;">&lt;&frasl;&gt;</span></h1></td><td><b>kaanksc</b><p><img style='width:70px;height:70px;' src='emoji/ok.png'/></td></tr></table></div>
<div class='mesajcerceve'><table class='mesaj'><tr><td><h1><span style="color:yellow;">&lt;&frasl;&gt;</span></h1></td><td><b>kaanksc</b><p>Sea</td></tr></table></div>
<div class='mesajcerceve'><table class='mesaj'><tr><td><h1><span style="color:yellow;">&lt;&frasl;&gt;</span></h1></td><td><b>kaanksc</b><p><img style='height:85px;' src='emoji/sg.png'/></td></tr></table></div>
<div class='mesajcerceve'><table class='mesaj'><tr><td><h1><span style="color:yellow;">&lt;&frasl;&gt;</span></h1></td><td><b>kaanksc</b><p><img style='width:70px;height:70px;' src='emoji/panda.png'/></td></tr></table></div>
<div class='mesajcerceve'><table class='mesaj'><tr><td><h1><span style="color:yellow;">&lt;&frasl;&gt;</span></h1></td><td><b>kaanksc</b><p><img style='width:70px;height:70px;' src='emoji/ok.png'/></td></tr></table></div>
<div class='mesajcerceve'><table class='mesaj'><tr><td><h1><span style="color:yellow;">&lt;&frasl;&gt;</span></h1></td><td><b>kaanksc</b><p><img style='width:100px;' src='emoji/jason.png'/></td></tr></table></div>
<div class='mesajcerceve'><table class='mesaj'><tr><td><h1>D</h1></td><td><b>deneme</b><p><img style='width:70px;height:70px;' src='emoji/ok.png'/></td></tr></table></div>
<div class='mesajcerceve'><table class='mesaj'><tr><td><h1>D</h1></td><td><b>deneme</b><p>Hello</td></tr></table></div>
<div class='mesajcerceve'><table class='mesaj'><tr><td><h1><span style="color:yellow;">&lt;&frasl;&gt;</span></h1></td><td><b>kaanksc</b><p>Sea</td></tr></table></div>
<div class='mesajcerceve'><table class='mesaj'><tr><td><h1><span style="color:yellow;">&lt;&frasl;&gt;</span></h1></td><td><b>kaanksc</b><p><img style='width:70px;height:70px;' src='emoji/bayrak.png'/></td></tr></table></div>
<div class='mesajcerceve'><table class='mesaj'><tr><td><h1><span style="color:yellow;">&lt;&frasl;&gt;</span></h1></td><td><b>kaanksc</b><p><img style='width:70px;height:70px;' src='emoji/bayrak.png'/></td></tr></table></div>
<div class='mesajcerceve'><table class='mesaj'><tr><td><h1><span style="color:yellow;">&lt;&frasl;&gt;</span></h1></td><td><b>kaanksc</b><p><img style='width:70px;height:70px;' src='emoji/bayrak.png'/></td></tr></table></div>
