body{
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;
}
#ekran{
    margin-top: 30px;
    position: fixed;
    top:0px;
    bottom:30px;
    left:0px;
    right:30px;
    width:480px;
    height: 449px;
    border:2px solid darkmagenta;
    border-radius: 0px 0px 10px 10px;
    z-index: 1;
}
#baslik{
    font-size: 20px;
    height: 30px;
    position: fixed;
    top: 0px;
    right: 1px;
    left: 0px;
    -webkit-app-region: drag;
    background: darkmagenta;
    border-radius: 10px 10px 0px 0px;
    overflow: hidden;
}
#appname{
    color: white;
    display: inline-block;
    padding-top: 3px;
    padding-left: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#kapatbuton{
    text-align: center;
    float:right;
    display: inline-block;
    color: white;
    font-size: 25px;
    font-weight: bold;
    -webkit-app-region: no-drag;
    height: 30px;
    width: 30px;
    background: darkmagenta;
    cursor: default;
    -webkit-transition: background .5s;
    transition: background .5s; 
}
#kapatbuton:hover{
    background: red;
}
#kucultbuton{
    text-align: center;
    float:right;
    display: inline-block;
    color: white;
    font-size: 25px;
    font-weight: bold;
    -webkit-app-region: no-drag;
    height: 30px;
    width: 30px;
    background: darkmagenta;
    cursor: default;
    -webkit-transition: background .5s;
    transition: background .5s; 
}
#kucultbuton:hover{
    background:rgba(165, 49, 171, 0.80);
}
#menubuton{
    text-align: center;
    float:left;
    display: inline-block;
    color: white;
    font-size: 20px;
    font-weight: bold;
    -webkit-app-region: no-drag;
    height: 30px;
    width: 30px;
    background: darkmagenta;
    cursor: default;
    -webkit-transition: background .5s;
    transition: background .5s; 
}
#menubuton:hover{
    background:rgba(165, 49, 171, 0.80);
}
#yanmenu{
    position: fixed;
    top:30px;
    left: -220px;
    bottom: 0px;
    width: 200px;
    background: rgba(96, 21, 100, 0.9);
    color:white;
    z-index: 2;
    border-radius: 0px 0px 0px 10px;
    box-shadow: 5px 5px 15px black;
    overflow: hidden;
}
.menuitem{
    display:block;
    width:100%;
    padding: 5px;
    background: rgba(96, 21, 100, 0);
    text-align: center;
    -webkit-transition: background .5s;
    transition: background .5s;
    cursor: default;
}
.menuitem:hover{
    background: rgba(67, 8, 70, 0.9)
}