body, td, textarea, select, blockquote{
  font: 95%/190% "Trebuchet MS", Tahoma, Arial;
  padding: 0px;
  margin:0px;
}
@import url('https://fonts.googleapis.com/css?family=Gugi');
.giris_td{
  padding-bottom:20px;
}
a{
  color:#900;
  text-decoration:none;
}
a:hover{
  color:#333;
  text-decoration:underline;
}
input{
  size:20px;
}
#baslik{
  font-family: 'Gugi', cursive;
}
