body {
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    overflow: hidden;
    padding: 0px;
    margin: 0px;
}

#live-chat {
    width: 495px;
    height:%100;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 5px;
}

#title .left, #title .right {
    height: 48px;
    line-height: 48px;
}

#title .left {
    width: 439px;
    float: left;
    border-top: 4px solid #55565b;
    border-right: 1px solid #6d6e73;
    background-color: #393A3F;
    background-image: -ms-linear-gradient(top, #393A3F 0%, #2B2C31 100%);
    background-image: -moz-linear-gradient(top, #393A3F 0%, #2B2C31 100%);
    background-image: -o-linear-gradient(top, #393A3F 0%, #2B2C31 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #393A3F), color-stop(1, #2B2C31));
    background-image: -webkit-linear-gradient(top, #393A3F 0%, #2B2C31 100%);
    background-image: linear-gradient(to bottom, #393A3F 0%, #2B2C31 100%);
}

    #title .left h2 {
        background: transparent url('../images/live.png') no-repeat 20px center;
        padding-left: 50px;
        color: #ffffff;
        font-size: 14px;
    }

#title .right {
    float: left;
    width: 54px;
    border-top: 4px solid #49494f;
    border-left: 1px solid #1e1f23;
    text-align: center;
    background-color: #2D2E32;
    background-image: -ms-linear-gradient(top, #2D2E32 0%, #222327 100%);
    background-image: -moz-linear-gradient(top, #2D2E32 0%, #222327 100%);
    background-image: -o-linear-gradient(top, #2D2E32 0%, #222327 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #2D2E32), color-stop(1, #222327));
    background-image: -webkit-linear-gradient(top, #2D2E32 0%, #222327 100%);
    background-image: linear-gradient(to bottom, #2D2E32 0%, #222327 100%);
}

    #title .right a {
        color: #fff;
        font-weight: bold;
    }

#info {
    text-align: center;
    color: #fff;
    clear: both;
    line-height: 40px;
    height: 44px;
}

    #info span {
        display: block;
        height: 44px;
        background-color: #88bf67;
        border-top: 3px solid #99c876;
        border-bottom: 1px solid #83b167;
    }

    #info a {
        float: right;
        padding-right: 10px;
        color: #fff;
        font-weight: bold;
    }

#message {
    background-color: #fff;
    padding: 10px 10px 20px 30px;
}

    #message ul {
        padding-right: 20px;
        height: 250px;
        overflow: auto;
    }

    #message li {
        padding: 20px 0 20px 20px;
        border-top: 1px solid #fff;
        border-bottom: 1px solid #d5d6d8;
    }

        #message li:nth-child(2n+2) {
            background-color: #f9f9f9;
        }

        #message li .left {
            float: left;
        }

            #message li .left img {
                width: 32px;
                height: 32px;
                border-radius: 16px;
            }

        #message li .right {
            padding-left: 50px;
            font-weight: bold;
        }

            #message li .right p {
                font-weight: normal;
                color: #74767e;
            }

::-webkit-scrollbar {
    width: 8px;
}

#message ul::-webkit-scrollbar:hover {
    height: 18px;
}

#message ul::-webkit-scrollbar-track-piece {
    background-color: #dadada;
    border-radius: 5px;
}

#message ul::-webkit-scrollbar-thumb:vertical {
    background-color: #313237;
    border-radius: 5px;
}

#new-message {
    margin-top: 30px;
}

    #new-message span:first-child {
        float: left;
    }

    #new-message input {
        font-family: 'Open Sans', sans-serif;
        width: 342px;
        height: 14px;
        border: 1px solid #bbbbbb;
        border-radius: 3px;
        padding: 10px;
        color: #4f5057;
    }

    #new-message .gonder {
        font-family: 'Open Sans', sans-serif;
        line-height: 1px;
        margin-left: 7px;
        width: 70px;
        height: 36px;
        border: 1px solid #bbbbbb;
        border-radius: 3px;
        padding: 10px;
        color: #4f5057;
        background-color: #FCFCFC;
        background-image: -ms-linear-gradient(top, #FCFCFC 0%, #EFEFEF 100%);
        background-image: -moz-linear-gradient(top, #FCFCFC 0%, #EFEFEF 100%);
        background-image: -o-linear-gradient(top, #FCFCFC 0%, #EFEFEF 100%);
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FCFCFC), color-stop(1, #EFEFEF));
        background-image: -webkit-linear-gradient(top, #FCFCFC 0%, #EFEFEF 100%);
        background-image: linear-gradient(to bottom, #FCFCFC 0%, #EFEFEF 100%);
    }
